<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Header: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <img src="../../images/logo.png" alt="logo for flowers.com" width="375" height="130" />

        <nav>
            <ul>
                <li><a href="">Online Store</a></li>
                <li><a href="">Delivery</a></li>
                <li><a href="">FAQS</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="">Log in</a></li>
                <li><a href="">Create an account</a></li>
                <li><a href="">Shopping Cart</a></li>

            </ul>
        </nav>

    </header>
	

	<!-- End Component -->
	
</body>
</html>