<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Header: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <img src="../../images/logo.png" alt="logo for flowers.com" width="375" height="130" />
    </section>
    <section>
        <nav>
            <ul>
                <li>Online Store</li>
                <li>Delivery</li>
                <li>FAQS</li>
                <li>Contacts</li>
                <li>About Us</li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>Log in</li>
                <li>Create an account</li>
                <li>Shopping Cart</li>

            </ul>
        </nav>

    </section>
	

	<!-- End Component -->
	
</body>
</html>