/* 
================================================================================
COMPONENT STYLESHEET - CTA - Shannon Williams
================================================================================ */
html{
    font-size: 62.5%;
}

body{
    font: 400 1.6em sans-serif;
    background-color: #ccc;
}

section{
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
}

section::after{
    content: "";
    display: table;
    clear: both;
}


article{
    width: calc(100% / 3 * 2 - 2rem);
    float: left;
    padding: 20px;
}
article:last-child{
    width: calc(100% / 3 - 2rem);
    font-family: bookman oldstyle;
    text-transform: uppercase;
    text-align: center;
}


h1{
    font-size: 2em;
    background-color: #ffc93f;
    padding-top: 50px;
}

p{
    background-color: #ffc93f;
    padding-bottom: 50px
}

h1:last-of-type{
    background-color: #b143a7;
    margin-top: 50px;
}

p:last-of-type{
    background-color: #b143a7;
}







