<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <img src="../../images/flowers.png" alt="tulips" width="770" height="375" />
        </article><article>
            <ul id="one">
                <li id="every">extra 25% off</li>
                <li>on every item over $500</li>
            </ul>
            <ul id="two">
                <li id="over">free shipping</li>
                <li>on orders over $500</li>
            </ul>

        </article>
    </section>


	<!-- End Component -->
	
</body>
</html>