<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <section>
        <article>
            <img src="../../images/flowers.png" width="600" height="400"/>
        </article><article>
            <h1>
                extra 25% off
            </h1>

            <p>
                on every item over $500
            </p>

            <h1>
                free shipping
            </h1>

            <p>
                on orders over $500
            </p>

        </article>
    </section>


	<!-- End Component -->
	
</body>
</html>