<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>

        <article>
            <img src="../../images/flowers.png" alt="tulips" width="770" height="375" />
            <p><a>next</a></p>
            <p><a>back</a></p>
        </article>

        <article>
            <ul>
                <li><a href="">extra 25% off on every item over $500</a></li>
                <li><a href="">free shipping on orders over $500</a></li>
            </ul>

        </article>

    </section>

	<!-- End Component -->
	
</body>
</html>