<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Feature: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h1>Featured Products</h1>

        <article>
            <img src="../../images/callas.png" alt="bouquet of calla lilies" width="270"height="313" />
            <h2>Because you're special bouquet</h2>
            <p>$16.00</p>
            <button>add to cart</button>
        </article>

        <article>
            <img src="../../images/basket.png" alt="basket of mixed flowers" width="270"height="313" />
            <h2>Because you're special bouquet</h2>
            <p>$16.00</p>
            <button>add to cart</button>
        </article>

        <article>
            <img src="../../images/mix.png" alt="bouquet of mixed flowers" width="270"height="313" />
            <h2>Because you're special bouquet</h2>
            <p>$16.00</p>
            <button>add to cart</button>
        </article>

        <article>
            <img src="../../images/rose-bouquet.png" alt="bouquet of roses" width="270"height="313" />
            <h2>Because you're special bouquet</h2>
            <p>$16.00</p>
            <button>add to cart</button>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>