<!-- Shannon Williams -->

<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - About: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    <h1>About The Floral Store</h1>
        <article>
            <img src="../../images/computer.png" alt="people shopping online" width="320" height="190" />
            <h2>Noster explicari ut per porro</h2>

            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc
                idque elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu
                nulla nostro omittantur et.</p>
        </article><article>
            <img src="../../images/creditcard.png" alt="credit card" width="320" height="190" />
            <h2>Nec meis accusam ei</h2>

            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc
                idque elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu
                nulla nostro omittantur et.</p>
        </article><article>
            <img src="../../images/thumbsup.png" alt="happy woman holding up two thumbs up" width="320" height="190" />
            <h2>Mei harum congue dissentiunt</h2>

            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc idque
                elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu nulla nostro
                omittantur et.</p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>