<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    <h1>About The Floral Store</h1>
        <article>
            <img src="../../images/computer.png" alt="people shopping online" width="330" height="190" />
            <p>It is so easy to shop online at our site.  No matter your age or knowledge of computers,
                your purchases are quick, easy and secure.  We also have customer service chat lines 24 hours
                a day!</p>
            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc
                idque elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu
                nulla nostro omittantur et. Noster explicari ut per, porro velit graeco in sit, ut mei harum
                congue dissentiunt.</p>
        </article>


        <article>
            <img src="../../images/creditcard.png" alt="credit card" width="330" height="190" />
            <p>We take all forms of payment, credit/debit cards, PayPal or money orders.</p>
            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc
                idque elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu
                nulla nostro omittantur et. Noster explicari ut per, porro velit graeco in sit, ut mei harum
                congue dissentiunt.</p>
        </article>

        <article>
            <img src="../../images/thumbsup.png" alt="happy woman holding up two thumbs up" width="330" height="190" />
            <p>Shopping with The Floral Store is always a pleasant experience from the first click to the last.</p>
            <p> Eam te vide sonet errem. Nec meis accusam ei. Facilis omnesque euripidis ea per, eos adhuc idque
                elaboraret cu, ad dolorem delicatissimi signiferumque pri. Mei dicat menandri te, usu nulla nostro
                omittantur et. Noster explicari ut per, porro velit graeco in sit, ut mei harum congue dissentiunt.</p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>