<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Comp 01 - About</title>
</head>
<body>

    <section>
        <article>
            <img src="" alt="" />
            <p>

            </p>
        </article>

        <article>
            <img src="" alt="" />
            <p>

            </p>
        </article>

        <article>
            <img src="images/computer.png" alt="computer" />
            <p>

            </p>
        </article>


    </section>

</body>
</html>