<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h1>Birthday Flowers</h1>
        <p id="new">New Arrivals</p>
        <p>Get up to 20% off</p>
        <img src="../../images/crocus.jpg" alt="crocus bouquet" class="align-center" />
        <p id="free">Free shipping</p>
        <p>on orders over $99</p>
    </section>

    <section>
        <ul>
            <li id="hot">Hot offers</li>
            <li>fast same delivery</li>
        </ul>
        <ul>
            <li>exclusive bouquets</li>
            <li id="service">New services</li>
        </ul>
    </section>

    <section>
        <article>
            <h2>Valentine's flowers</h2>
            <p>get up to 50% off</p>
        </article>
        <article>
            <h2>Wedding Flowers</h2>
            <p>get up to 25% off</p>
        </article>
        <article>
            <h2>Plants new arrivals</h2>
            <p>get up to 25% off</p>
        </article>
        <article>
            <p>Order delivery</p>
            <p id="number">1 800 123 4567</p>
            <p>7 days a week from</p>
            <p>8:00 am to 2:00 am</p>
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>