<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <img src="../../images/crocus.jpg" alt="crocus bouquet" />
        <h1>Birthday Flowers</h1>
        <h2>New Arrivals</h2>
        <h3>Get up to 20% off</h3>
        <p>Free shipping on orders over $99</p>
    </section>

    <section>
        <p>Hot offers</p>
        <p>fast same delivery</p>
        <p>exclusive bouquets</p>
        <p>new services</p>
    </section>

    <section>
        <article>
            <h2>Valentine's flowers</h2>
            <h3>get up to 50% off</h3>
        </article>
        <article>
            <h2>Wedding Flowers</h2>
            <h3>get up to 25% off</h3>
        </article>
        <article>
            <h2>Plants new arivals</h2>
            <h3>get up to 25% off</h3>
        </article>
        <article>
            <h2>Order delivery 1 800 123 4567</h2>
            <h3>7 days a week from 8:00 am to 2:00 am</h3>
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>