<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - CTA: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h1>Birthday Flowers</h1>
        <h1>New Arrivals</h1>
        <h3>Get up to 20% off</h3>
        <img src="../../images/crocus.jpg" alt="crocus bouquet" class="align-center" />
    </section>
    <section>
        <p>Free shipping</p>
        <p>on orders over $99</p>
    </section>

    <section>
            <p id="hot">
                Hot offers
                fast same delivery
            </p>

            <p id="services">
               exclusive bouquets
                New services
            </p>
    </section>

    <section>
        <article>
            <h2>Valentine's flowers</h2>
            <p>get up to 50% off</p>
        </article>
        <article>
            <h2>Wedding Flowers</h2>
            <p>get up to 25% off</p>
        </article>
        <article>
            <h2>Plants new arrivals</h2>
            <p>get up to 25% off</p>
        </article>
        <article>
            <h2>Order delivery</h2>
            <p>1 800 123 4567</p>
            <p>7 days a week from</p>
            <p>8:00 am to 2:00 am</p>
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>