<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Contact: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>

        <h1>contact us</h1>

        <img src="../../images/map.png" alt="map of exact location of shop" />



        <form>

            <input type="text" name="name" maxlength="75" placeholder="Your name..." />

            <input type="text" name="email" placeholder="Your email address..."/>

            <input type="text" name="phone" placeholder="Your phone number..."/>


            <textarea name="message" cols="40" rows="5" />Your message...</textarea>

            <input type="submit" name="send" value="Send"/>
            <input type="submit" name="clear" value="Clear"/>

        </form>
    </section>
	

	<!-- End Component -->
	
</body>
</html>