<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Contact: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <h1>contact us</h1>

    <img src="../../images/map.png" alt="map of exact location of shop" width="720" height="300" />

    <form>
        <p>Your name
            <input type="text" name="name" maxlength="75" />
        </p>
        <p>Your email address
            <input type="email" name="email" />
        </p>
        <p>Your phone number
            <input type="phone" name="phone" />
        </p>

        <textarea name="message" cols="40" rows="5" />Your message</textarea>

        <input type="submit" name="send" value="Send"/>
        <input type="submit" name="clear" value="Clear"/>

    </form>
	

	<!-- End Component -->
	
</body>
</html>