/* 
================================================================================
COMPONENT STYLESHEET Blog  Shannon Williams
================================================================================ */

html{
    font-size: 62.5%;
}

body{
    font: 400 1.6em sans-serif;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    text-align: center;
    font-size: 3.5em;
    color: black;
    font-weight: 100;
    margin-bottom: 30px;
}
button{
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: orange;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    margin-top: 25px;

}
h2{
    text-align: left;
    font-size: 3em;
    font-weight: 100;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
}

ul{
    margin-bottom: 30px;
    list-style-type: circle;
}

li{
    line-height: 3;
    font-size: 1.5em;
    margin-left: 50px;
}

section{
    width: calc(100% / 3 * 2);
    font-size: .7em;
    line-height: 1.6em;
    color: #7c7c7c;
    padding: 30px;
    float: left;
}

section:nth-of-type(2){
    width: calc(33.33333333333333% - 2rem);
}

p{
    line-height: 1.8;
    margin: 15px 0 15px 0;
    font-size: 1.2em;
}