<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Feature: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>

        <article>
            <img src="../../images/roses.png" alt="close-up of roses" width="270" height="175">
            <ul>
                <li id="rose">Birthday Brights</li>
            </ul>
        </article><article>
            <img src="../../images/yellow-tulip.png" alt="close-up of tulips" width="270" height="175">
            <ul>
                <li id="tulip">Magic Sunshine</li>
            </ul>
        </article><article>
            <img src="../../images/daisies.png" alt="close-up of daisies" width="270" height="175">
            <ul>
                <li id="daisy">Hugs & Kisses</li>
            </ul>
        </article><article>
             <img src="../../images/purple-crocus.png" alt="close-up of crocuses" width="270" height="175">
            <ul>
                <li id="crocus">Kaleidoscope</li>
            </ul></article>

    </section>
	

	<!-- End Component -->
	
</body>
</html>