<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Feature: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h1>Featured items</h1>
        <ul>
            <li><img src="../../images/roses.png" alt="close-up of roses" width="270" height="175"></li>
            <li><a href="">Birthday Brights</a></li>
            <li><img src="../../images/yellow-tulip.png" alt="close-up of tulips" width="270" height="175"></li>
            <li><a href="">Magic Sunshine</a></li>
            <li><img src="../../images/daisies.png" alt="close-up of daisies" width="270" height="175"></li>
            <li><a href="">Hugs & Kisses</a></li>
            <li><img src="../../images/purple-crocus.png" alt="close-up of crocuses" width="270" height="175"></li>
            <li><a href="">Kaleidoscope</a></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html>