<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Feature: Shannon Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>

        <article id="brights">
            <img src="../../images/roses.png" alt="close-up of roses" width="270" height="175">
            <p>Birthday Brights</p>
        </article><article id="magic">
            <img src="../../images/yellow-tulip.png" alt="close-up of tulips" width="270" height="175">
            <p>Magic Sunshine</p>
        </article><article id="hugs">
            <img src="../../images/daisies.png" alt="close-up of daisies" width="270" height="175">
            <p>Hugs & Kisses</p>
        </article><article id="kaleidoscope">
             <img src="../../images/purple-crocus.png" alt="close-up of crocuses" width="270" height="175">
            <p>Kaleidoscope</p></article>

    </section>
	

	<!-- End Component -->
	
</body>
</html>